@import "font_roboto.css";
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    background: #ededed;
}
.wrapper {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.no-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
div, ul, li {
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.top{
     height: 40px;
     width: 100%;
     background: #f2f2f2;
     margin: 0;
     padding: 0;
 }
#header-mid{
    padding-top: 34px;
    float: left;
    height: 110px;
    width: 100%;
    }
    div.logo{
        float: left;
        padding: 0px;
    }
    .search{
        float: left;
        height: 47px;
        width: 370px;
        }
        .search > form > div.text {
            width: 310px;
            float: left;
            height: 47px;
            }
            .search > form > div.text > input {
                width: 100%;
                height: 47px;
                border: 1px solid #e1e1e1;
                border-right: none;
                box-sizing: border-box;
            }
                .search > form > div.text > input:focus {
                     outline: none;
                 }
            .search > form > div.submit {
                width: 60px;
                float: left;
                height: 40px;
            }
            .search > form > div.submit > button {
                background: #00ade5;
                height: 47px;
                width: 100%;
                color: #fff;
                text-align: center;
                border: none;
            }


#header-bottom{
    height: 64px;
    background: #191919;
    clear: both;
}
